name: Generate summary cards (local)

on:
  schedule:
    - cron: "0 0 * * *"   # 매일 00:00 UTC (한국시간 오전 9시)
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: write

    steps:
      - uses: actions/checkout@v4

      - name: Generate summary cards
        uses: vn7n24fzkq/github-profile-summary-cards@release
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          USERNAME: jiihyun12
          BRANCH_NAME: main
          UTC_OFFSET: 9
          AUTO_PUSH: true
          # EXCLUDE: ""  
